/* Testapp.module.css */

.container {
  display: flex;
}

.groupList {
  flex: 1;
  padding: 1rem;
}

.scheduleTable {
  flex: 2;
  padding: 1rem;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 0.5rem;
  border: 1px solid #ddd;
  margin-bottom: 0.5rem;
  cursor: pointer;
}

li:hover {
  background-color: #f0f0f0;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

th, td {
  border: 1px solid #ddd;
  padding: 0.5rem;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

.dayCell,
.lessonCell,
.infoCell {
  
  padding: 18px; /* добавим немного отступов для лучшего визуального отображения */
  
}

.daySpacer {
  background-color: #f2f2f2; /* цвет фона для отступа */
}

.scheduleRow:hover {
  background-color: #f0f0f0; /* цвет фона при наведении */
}

.ppppppp {
  border-radius: 8px;
}