/* DaySchedule.module.css */
.dayContainer {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: #f0f0f0;
  }
  
  .roundedBlock {
    border-radius: 10px;
  }
  